.header{
    max-width: 60rem;
    margin:auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
.list{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
.list a{
    text-decoration: none;
    color: rgb(114, 32, 17);
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
}
.list a:hover,
.list a.active{
    color: rgb(207, 161, 152);
    background-color: rgb(235, 72, 23);
    text-decoration: underline;
}